@font-face
{
    font-family: Lato;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

html, body
{
    font-family: Ubuntu, Lato;
}

.login-container {
    margin-top: 50px;
}

.login-form, .login-form label {
    margin-top: 20px;
}

.btn-login {
    margin-top: 40px;
}
